.container{
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 50px;

}
.content button{
    background-color: rgb(84, 173, 84);
}
.content{
    height: 10px;
    
}

.in{
    width:150px;
}

.player{
    margin: 15px;
    
}
.out video{
    width: 415px;
    height:200px;
    margin: 15px;
}
.out a{
    width: 500px;

}